body {
    background-color: #393E46;
  }
.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 3rem;
    color: #4ECCA3;
  }
.btn{
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0px;
    border: none;
}
img{
    height: 150px;
    width: auto;
}
.js-result{
  font-family: 'Lobster', cursive;
  text-shadow: 2px 0 #232931;
  color: #4ECCA3;
  font-size: 2rem;
}
.js-div{
  display: flex;
  justify-content: space-around;
}
.js-moves.chosen{
  font-family: 'Lobster', cursive;
  text-shadow: 2px 0 #232931;
  color: #4ECCA3;
  font-size: 2rem;
}
.js-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cst-div1{
  display: flex;
  justify-content: space-around;
}
.cst-div2{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.icon{
  height: 24px;
  width: 24px;
  border: none;
  outline: none;
}
.icon2{
  height: 24px;
  width: 24px;  
  border: none;
  outline: none;
}
.play-btn{
  font-family: 'Lobster', cursive;
  text-shadow: 2px 0 #b9bbbe;
  color: #393E46;
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: #4ECCA3;
  border: none;
  border-radius: 15px;
  box-shadow: 3px 9px #999;
}
.play-btn:hover{
  background-color: #50ba83;
}
.play-btn:active {
  background-color: #50ba83;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}