.container {
  width: 70%;
  margin: auto;
  text-align: center;
}
body {
  background-color: #393E46;
}
h1 {
  margin: 30px;
  margin-top: 150px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 7rem;
  color: #4ECCA3;
}
.btn-div{
    margin: 100px;
    
}
.play-btn{
    font-family: 'Lobster', cursive;
    text-shadow: 2px 0 #b9bbbe;
    color: #393E46;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: #4ECCA3;
    border: none;
    border-radius: 15px;
    box-shadow: 3px 9px #999;
    animation: 1.5s ease 0s infinite beat;
}
@keyframes beat {
  0%, 50%, 100% { transform: scale(1, 1); }
  30%, 80% { transform: scale(0.92, 0.95); }
}
.play-btn:hover{
    background-color: #50ba83;
}
.play-btn:active {
    background-color: #50ba83;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
a{
  text-decoration: none;
  color: #393E46;
}